
.header-box{
  background-color: rgb(15, 24, 54);;
  padding: 2%;
  display: flex;
  padding-left: 40vw;
  .input-box{
      width: 16rem;
      height: 2rem;
  }
  #submit-button{
      height: 2.5rem;
      border-radius: 4px;
      font-weight: 600;
      &:hover{
          background-color: rgb(15, 24, 54);;;
          color: #fff;
          cursor: pointer;
      }
  }
  .header-text{
      margin-top: 10px;
      width:25%;
      h1{
          margin: 0px;
      }
  }
  .header-icons{
      margin-top: 10px;
      width: 35%;
      display: flex;
      text-align: right;
      justify-content: flex-end;
      
  }
  .header-avatar{
      width: 40%;
      display: flex;
      justify-content: flex-end;
      h2{
         margin-top: 10px;
         padding-right: 20px;
         
      }
      
  }
}