.dashboard{
  background-color: rgb(15, 24, 54);
  display: flex;
  flex-direction: row;
  height: 100vh;
  width:100vw;
  .navigation{
      height: 100%;
      width: 25%;
      display: flex;
      color:white;
      flex-direction: column;
      overflow: auto;
      

  
  .logo{
      text-align: center;
      
      width:90%;
      padding: 5%;
      color: white;
      height: 15%;
      
  }
     
  navbar{
      height: 60%;
      width:90%;
      display: flex;
      flex-direction: column;
      padding: 5%;
      font-size: 24px;
      .nav-items{
          margin-top: 20px;
          color: white;
          transition: 0.2s all ease-in-out;
          text-decoration: none;
          
          
          &:hover{
                  color:#00ff95;
                  border-right: 4px solid #00ff95;
                  cursor: pointer;
                  transform: scale(1.02);
              }
          &.selected{
              color:#00ff95;
              border: 0px;
              transform: none;
          }
          }            
  }
  .svg{
      height: 35%;
      width: 100%;
      text-align: center;
      img{
          padding: 10px;
          height: 80%;
          width: 80%;
      }
  }

  }

  section{
      margin: 10px 10px 10px 0px;
      border-radius: 20px;
      flex-basis:75%;
      background-color: rgb(238, 243, 226);
  }
}


